

@media screen and (min-width: 768px) and (max-width: 1792px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        font-family: Arial;
        margin: 3rem;
    }

    .hidden-on-desktop {
        display: none;
    }

    h1 {
        align-items: center;
        flex-wrap: wrap;
        font-size: 3em;
        width: 300px;
        margin: 55px 10px 50px 10px;
        display: inline;

    }

    nav {
        margin: 30px 20px 50px 20px;
        display: inline;
        flex-basis: 0;
        float: right;
    }

    ul.nav-links {
        display: inline;
    }

    li {
        display: inline;
        padding: 10px;
        margin: 0;
        align-items: center;
    }

    ul {
        list-style-type: none;
        padding: 1px;

    }

    img {
        object-fit: cover;
        width: 100%;
    }

    p {
        display: flex;
        flex-direction: column;
    }


    .main {
        float: left;
        width: 35%;
        margin: 10px;
    }

    .sub-section {
        font-style: italic;
        float: right;
        width: 35%;
        margin: 10px;
    }

    footer > p {
        position: absolute;
        margin-top: 310px;
    }
}


/*MOBILE DESIGN*/

@media all and (min-width: 500px) and (max-width: 768px) {
    * {
        box-sizing: border-box;
    }
    .alert-info {
        border: 1px solid gray;
        background: darkturquoise;
        padding-top: 1em;
        padding-bottom: 1em;
        margin: 0.5rem;
        width: 95%;
        display: flex;
        justify-content: center;
    }
    #main {
        font-size: larger;
    }

    .alert-info {
        display: flex;
        justify-content: center;
        background: powderblue;
        border: 1px solid grey;
        padding: 1rem;
    }
    h1 {
        display: flex;
        justify-content: center;
    }

    }

    .main > p {
        margin-top: .5em;
    }


    .header-img {
        display: flex;
        flex-direction: column;
        width: 85%;
    }


    .sub-section {
        display: flex;
        align-items: self-start;
        flex-direction: column;
        margin-bottom: 7em;
    }

    footer {
        margin-right: auto;
        margin-left: .5em;
    }


}



